/* Estilo para o botão de logout */
.user-profile form {
    margin-bottom: 10px; /* Espaçamento entre o botão de logout e o nome do usuário */
}

/* Estilo para o botão de toggle */
.toggle-button {
    position: absolute;
    top: 7%; /* Ajuste conforme necessário */
    right: -45px; /* Ajuste conforme necessário */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 9999; /* Garante que o botão esteja acima de outros elementos */
}

/* Estilo para a div lateral */
.lateral {
    position: fixed; /* Alterado para position: fixed */
    top: 0;
    left: -200px; /* Alterado para fora da tela */
    width: 200px; /* largura da div */
    height: 100%; /* altura igual à tela */

    padding: 20px; /* espaçamento interno */
    transition: transform 0.3s ease; /* transição suave */
    z-index: 1000; /* Garante que a lateral esteja acima do mapa */
}

.lateral.abrir {
    left: 0; /* Mostra a lateral ao deslizar para a esquerda */
}

/* Estilo para os itens de rota */
.opcao {
    font-size: 40px;
    margin-bottom: 10px;
}

.rotas {
    font-size: 16px;
    color: rgb(0, 68, 255);
    text-decoration: none;
    cursor: pointer; /* Alteração para indicar que é clicável */
}

.rotas:hover {
    text-decoration: underline;
}

/* Estilo para o mapa */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa 100% da largura do viewport */
    height: 100%; /* Ocupa 100% da altura do viewport */
    transition: margin-left 0.3s ease; /* Transição suave para o margin-left */
    z-index: 1; /* Garante que o mapa esteja abaixo da lateral */
}

/* Estilo para o mapa quando a lateral está aberta */
#map.lateral-aberta {
    margin-left: 200px; /* Deixa espaço para a lateral quando aberta */
}

@media (max-width:450px){
    .lateral {
        position: fixed; /* Alterado para position: fixed */
        top: 0;
        left: -400px; /* Alterado para fora da tela */
        width: 400px; /* largura da div */
        height: 100%; /* altura igual à tela */
    
        padding: 0px; /* espaçamento interno */
        transition: transform 0.3s ease; /* transição suave */
        z-index: 1000; /* Garante que a lateral esteja acima do mapa */
    }
   /* Estilos padrão do botão */
.toggle-button {
    position: absolute;
    top: 7%; /* Ajuste conforme necessário */
    right: -15%; /* Ajuste conforme necessário */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 9999; /* Garante que o botão esteja acima de outros elementos */
}

/* Estilos do botão quando aberto */
.toggle-button.open {
    top: 50%; /* Nova posição quando aberto */
    right: 40%; /* Nova posição quando aberto */
}

}